.container {
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 135px;
}

.card {
  position: relative;
  cursor: pointer;
  width: 169px;
  height: 139px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.darkCard {
  background: rgba(44, 43, 43, 1);
}

.lightCard {
  background: rgba(240, 240, 240, 1);
}
.controlImage {
  padding-top: 15px;
}

.card:hover {
  opacity: 70%;
}

.card:active {
  position: relative;
  top: 3px;
}

.title {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.controlTag {
  position: absolute;
  top: 16px;
  right: 16px;
}

@media (max-width: 1275px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 930px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
  }
}

@media (max-width: 480px) {
  .container {
    margin-left: 85px;
    margin-right: 85px;
  }

  .grid {
    grid-gap: 20px;
  }
}

@media (max-width: 391px) {
  .container {
    margin-left: 105px;
    margin-right: 105px;
  }

  .card {
    width: 139px;
    height: 110px;
  }

  .grid {
    grid-gap: 20px;
  }

  .title {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
}
