.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 45px;
  margin-right: 45px;
}

.title {
  font-size: 26px;
  font-weight: 400;
}

.management {
  display: flex;
  align-items: center;
  gap: 30px;
}

.switch {
  cursor: pointer;
}

.btn {
  font-family: 'Julius Sans One', sans-serif;
  cursor: pointer;
  width: 110px;
  height: 30px;
  border: none;
  border-radius: 30px;
}

.darkBtn {
  color: rgba(255, 255, 255, 1);
  background: rgba(44, 43, 43, 1);
}

.lightBtn {
  color: rgba(0, 0, 0, 1);
  background: rgba(240, 240, 240, 1);
}

.btn:hover {
  opacity: 70%;
}

@media (max-width: 480px) {
  .container {
    margin-left: 25px;
    margin-right: 25px;
  }

  .title {
    font-size: 20px;
    font-weight: 400;
  }
}
